@model Usuario

<form asp-action="Cadastrar" asp-controller="Usuario" method="post">
    <fieldset>
        <legend>Cadastrar Usuario</legend>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input class="form-control" asp-for="Nome" type="text" placeholder="Nome do Usuario" />
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cpf">Cpf:</label>
            <input class="form-control" asp-for="Cpf" type="text" placeholder="CPF do Usuario" />
            <span class="text-danger" asp-validation-for="Cpf"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input class="form-control" asp-for="Email" type="text" placeholder="Email do Usuario" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Senha">Senha:</label>
            <input class="form-control" asp-for="Senha" type="password" placeholder="Senha" />
            <span class="text-danger" asp-validation-for="Senha"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmacaoSenha">Confirmação da Senha:</label>
            <input class="form-control" asp-for="ConfirmacaoSenha" type="password" placeholder="Senha" />
            <span class="text-danger" asp-validation-for="ConfirmacaoSenha"></span>
        </div>

        <input class="btn btn-info" type="submit" value="Cadastrar" />
    </fieldset>
</form>